$white-color: #fff;
$black-color: black;
$violet-color: #4452FE;
$border: 1px solid $white-color;

$breakpoint_xxl_1200: 1200px;
$breakpoint_xl_1024: 1024px;
$breakpoint_md_767: 767px;
$breakpoint_sm_576: 576px;