@import 'reset';
@import 'variables';
@import 'extends';


html {
    scroll-behavior: smooth;
}
body {
    background-color: $black-color;
    font-family: 'Open Sans', sans-serif;
    color: $white-color;
    letter-spacing: 0.2px;
}
p {
    line-height: 24px;
}
section {
    // margin-bottom: 100px;
    padding: 60px 50px;
}
h4 {
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
}

a {
    padding: 20px 40px;
}
button {
    cursor: pointer;
}
button:hover {
    opacity: 0.9;
}
.btn {
    padding: 20px 40px;
    background-color: $black-color;
    color: $white-color;
    border: $border;
    margin: 0px 18px 35px 18px;
}
.btn:focus {
    background-color: $violet-color;
    border: $violet-color;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
.present {
    .desc-img {
    text-align: center;
    }
}
header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $black-color;
    z-index: 5;
}
nav {
    display: flex;
    gap: 50px;
    padding: 40px;
    align-items: center;
    .opacity:hover {
        opacity: 1;
    }
    img {
        min-width: 140px;
    }
    .nav-links {
        display: flex;
        gap: 30px;
        a {
            padding: 20px;
        }
    }
    .nav-login {
        border: $border;
    }
}
.header-burger-btn {
    position: relative;
    width: 45px;
    height: 45px;
    border: none;
    background-color: $black-color;
    border-radius: 3px;
    display: none;
}
.header-burger-btn span {
    position: absolute;
    width: 35px;
    height: 4px;
    background-color: $white-color;
    left: 5px;
    border-radius: 5px;
    transition: transform .5s, opacity .5s;
}
.header-burger-btn span:nth-child(1) {
    transform: translateY(-12px);
}
.header-burger-btn span:nth-child(3) {
    transform: translateY(12px);
}
header.open .header-burger-btn span:nth-child(2) {
    opacity: 0;
}
header.open .header-burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}
header.open .header-burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.desc {
    text-align: center;
    margin-top: 120px;
    h1 {
        font-size: 80px;
        padding: 10px;
        margin-bottom: 17px;
    }
    h2 {
        font-size: 52px;
        padding: 10px;
        margin-bottom: 17px;
        line-height: 62px;
    }
    h4 {
        margin-bottom: 85px;
    }
}
.desc-btn {
    text-align: center;
}

.desc-content {
    display: flex;
    justify-content: center;
    .desc-content-img {
        position: relative;
    }
    .desc-content-img::after {
        content: '';
        background-image: url(resources/LineChart1.svg);
        background-repeat: no-repeat;
        position: absolute;
        width: 450px;
        height: 300px;
        z-index: 2;
        bottom: -60px;
        right: 0px;
    }
    .desc-content-text {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 55px;
        padding: 20px;
        .inner-text {
            h4, p {
                padding: 10px;
            }
            h4 {
                margin-left: 35px;
                position: relative;
            }
            .icon1::before {
                content: '';
                background-image: url(../resources/icon1.svg);
                @extend %extend-icon;
                width: 30px;
                height: 25px;
            }
            .icon2::before {
                content: '';
                background-image: url(resources/icon2.svg);
                @extend %extend-icon;
                width: 30px;
                height: 30px;
            }
            .icon3::before {
                content: '';
                background-image: url(resources/icon3.svg);
                @extend %extend-icon;
                width: 44px;
                height: 20px;
                
            }
        }
    }
}

.block-wrapper {
    display: flex;
    gap: 35px;
    
    div {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 40px;
        background-color: $white-color;
        color: $black-color;
        align-items: center;
        border-radius: 5px;
        h3, p {
            @extend %extend-text-center;
        }
        p {
            color: $gray-color;
        }
        button {
            padding: 20px 35px;
            background: $violet-color;
            border: none;
            color: $white-color;
        }
        .btn1 {
            margin: 60px 0;
        }
        .btn2 {
            margin: 30px 0;
        }
        .screen1 {
            position: relative;
            max-width: 72%;
            border-radius: 5px 5px 0px 0px;
            border: 6px solid $black-color;
        }
        .base {
            max-width: 90%;
            border-bottom: 3px solid gray;
            border-radius: 3px;
        }
    }
}
.galery {
    .galery-images {
        display: flex;
        row-gap: 40px;
        column-gap: 30px;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 40px;
        img {
            border-radius: 5px;
        }
    }
    button {
        @extend %extend-btn-center;
    }
}

.partners {
    .icons-wrapper {
        display: flex;
        justify-content: center;
        gap: 75px;
        margin-bottom: 50px;
    }
    button {
        @extend %extend-btn-center;
    }
}

.reviews {

    img {
        display: inline-block; // не работает. Доделать фото вровень с именем----------------
    }
    .desc {
        margin-bottom: 50px;
    }
    .reviews-blocks-wrapper {
        display: flex;
        row-gap: 40px;
        column-gap: 30px;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    
        .reviews-block {
            width: calc(50% - 70px);
            padding: 40px;
            border-radius: 10px;
            border: 1px solid $white-color;
            div {
                display: flex;
                img {
                    margin-right: 15px;
                    
                }
            }
        }
    }
}

footer {
    margin: 105px 0;
.footer-nav {
    display: flex;
    gap: 75px;
    justify-content: center;
        .inner-nav {
        display: flex;
        flex-direction: column;
        a, h4 {
            padding-left: 0;
        }
        a {
            padding-bottom: 10px;
            padding-right: 0;
        }
        h4 {
            margin-bottom: 20px;
        }
        .nav-icon1, .nav-icon2 {
            padding-left: 40px;
            position: relative;
        }
        .footer-nav-icon {
            display: flex;
            gap: 20px;
        }
        .nav-icon1::before {
            content: '';
            background-image: url(resources/bx_bx-map.svg);
            @extend %extend-icon;
            width: 30px;
            height: 40px;
            left: 0;
            top: 15px;
        }
        .nav-icon2::before {
            content: '';
            background-image: url(resources/ic_baseline-phone-android.svg);
            @extend %extend-icon;
            width: 30px;
            height: 40px;
            left: 0px;
            top: 15px;
        }
    }
    .gap {
        margin-right: 200px;
    }
    .inner-icon-wrapper {
        position: relative;
        text-align: center;
    }
}
}

@import 'media';

